form {
  height: 300px;
  background: #fff;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 390px;
  margin: 0 auto;
}

input {
  background-color: #f7f7f7;
  width: 100%;
  padding: 12px 14px;
  margin-top: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  outline: none;

  color: black;
}

input:hover {
  border-color: #6c63ff;
}

button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background: #6c63ff;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
  margin-left: 13px;
}

button:hover {
  background: #554ee6;
}
