
.home-container {
  padding: 20px;
  max-width: 900px;
  margin: auto;
    justify-content: center;
   align-items: center;
}

.home-container h1 {

   text-align: center;
  margin-bottom: 25px;
  font-size: 28px;

}


.user-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
  
}



.user-card {
  border-left: 8px solid  #61dafb;
  border-right: 8px solid  #61dafb;;
  background: #ffffff;
  color: black;
  padding: 18px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
   
}

.user-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.12);
}

.user-card p {
  margin: 6px 0;
  font-size: 15px;
  color: #555;
}


