
nav {
  background: #282c34; 
  padding: 15px 20px;
  display: flex;
  gap: 20px;              
  align-items: center;
  justify-content: center;
}



nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 6px;
  transition: 0.3s;
}


nav a:hover {
  background: #444;
}

nav a.active {
  background: #61dafb;
  color: black;
}
nav img {
  width: 40px;        
  height: 40px;
  border-radius: 50%;   
  object-fit: cover;    
  margin-right: 15px;   

}



.btn{
    font-size: 18px;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 6px;
  transition: 0.3s;
    background: #61dafb;
    cursor: pointer;
     border: none;

}