.profile-container {
  max-width: 400px;
  padding: 25px;
  margin: 40px auto;
  border-radius: 12px;
  background: #ffffff;
  font-family: Arial, sans-serif;
  text-align: left;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  
}


.profile-container:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.12);
}
.profile-container h1{
    font-size: 22px;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.profile-item{
  max-width: 400px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 10px;
     border-radius: 12px;
      background: #f8f9fa;
      font-size: 20px;
      border-left: 8px solid  #61dafb;;

      
}