body{
    padding: 0;
    margin: 0;
}
.container {
    height: 100%;
    width: 100%;
    
}
.container-dark{background-color: #000; color: white;}
.container-light{background-color: white; color: black;}